@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 200vh;
  background-image: url('../public/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Poppins", sans-serif !important;
}

* {
  font-family: "Open Sans", sans-serif;
}
