@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #141d19;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif !important;
}

* {
  font-family: "Open Sans", sans-serif;
}

#blob-one {
  animation: blobOnePosition 12s ease-in-out infinite;
}

#blob-two {
  animation: blobTwoPosition 12s ease-in-out infinite;
}

@keyframes blobOnePosition {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(25%, 100%);
  }
  75% {
    transform: translate(50%, 0);
  }
}

@keyframes blobTwoPosition {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-200%, 0);
  }
  50% {
    transform: translate(-25%, -100%);
  }
  75% {
    transform: translate(-50%, 0);
  }
}
