@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif !important;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#loader {
  animation: spin 2s ease infinite;
}

#blob-one {
  animation: blobOnePosition 12s ease-in-out infinite,
    blobOneColor 12s ease-in-out infinite;
}

#blob-two {
  animation: blobTwoPosition 12s ease-in-out infinite,
    blobTwoColor 12s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  50% {
    transform: scale(0.8) rotate(360deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}

@keyframes blobOnePosition {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(25%, 100%);
  }
  75% {
    transform: translate(50%, 0);
  }
}

@keyframes blobTwoPosition {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-200%, 0);
  }
  50% {
    transform: translate(-25%, -100%);
  }
  75% {
    transform: translate(-50%, 0);
  }
}

@keyframes blobOneColor {
  0% {
    background-color: #d170e0;
  }
  25% {
    background-color: #7285ec;
  }
  50% {
    background-color: #f0c062;
  }
  75% {
    background-color: #a379eb;
  }
  100% {
    background-color: #d170e0;
  }
}

@keyframes blobTwoColor {
  0% {
    background-color: #81f062;
  }
  25% {
    background-color: #a379eb;
  }
  50% {
    background-color: #d170e0;
  }
  75% {
    background-color: #7285ec;
  }
  100% {
    background-color: #81f062;
  }
}
